@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Inter, sans-serif;
  font-size: 14px;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 30%;
  border-radius: 50%;
}


.card {
  background-color: hsl(0, 0%, 12%);
  text-align: center;
  width: 337px;
  border-radius: 10px;
  padding: 2rem 0.75rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
}

.card__links-container{
  margin: 1.5rem 0;
  text-align: center;
}

.card__links-container ul{
  display: inline-block;
  margin: 0;
  padding: 0;
}


.links-menu li {
  list-style-type: none;
  text-align: center;
  width: 100%;
  height: 45px;
  margin: 1rem 0rem;
}

.links-menu li a {
  background-color: #333333;
  text-decoration: none;
  color: white;
  width: 280px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 700;
  transition: all .2s ease-in;
  padding: 0;
}

.links-menu li a:hover {
  background-color: #c5f82a;
  color: #141414;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.green-text {
  color: hsl(75, 94%, 57%);
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.description-text {
  font-size: 0.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 0.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}