@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

//theme colors
$primary: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 20%);
$dark-grey: hsl(0, 0%, 12%);
$off-black: hsl(0, 0%, 8%);

//spacing
$base-padding: 0.75rem;
$large-padding: 2rem;
$base-margin: 0.75rem;
$large-margin: 2rem;

//borders
$base-border-radius: 10px;
$small-border-radius: 5px;

//font-size
$base-fs: 14px;

//font weight
$base-fw: 400;
$bold-fw: 600;
$bolder-fw: 700;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Inter, sans-serif;
  font-size: $base-fs;
  background-color: $off-black;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 30%;
  border-radius: 50%;
}

.card {
  background-color: $dark-grey;
  text-align: center;
  width: 337px;
  border-radius: $base-border-radius;
  padding: $large-padding $base-padding;
}

.card__links__link {
  background-color: $grey;
  border-radius: $small-border-radius;
  height: 35px;
  margin: $base-margin $large-margin;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: $bold-fw;
}

.card__links__link:hover {
  cursor: pointer;
  background-color: $primary;
  color: $off-black;
}

h1 {
  font-size: 1.5rem;
  font-weight: $bold-fw;
  margin-bottom: 0;
}

.green-text {
  color: $primary;
  font-size: 0.8rem;
  font-weight: $bold-fw;
  margin-bottom: $large-margin;
}

.description-text {
  font-size: 0.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 3rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
